/*  
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visual
5. Otros
*/

:root {
    --green: #74c69d;
    --black: #212529;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
    background-color: #f5f5f5;
}

header {
    height: auto;
    width: 100%;
    min-width: 324px;
    background-color: var(--green);
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container .header--logo {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-container .header--main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.header-container .header--main-content img {
    width: 335px;
    height: 200px;
    margin-bottom: 30px;
}

.header-container .header--main-content .welcome {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 15px;
}

.header-container .header--main-content h1 {
    font-family: 'Crimson Text', serif;   
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: var(--white);
    margin-bottom: 15px;
}

.header-container .header--main-content .text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 20px;
}

.header-container .header--main-content a {
    display: flex;
    width: 170px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.75);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
    margin-bottom: 35px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
}

main {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.partners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 20px auto;
    gap: 60px;
}

.partners-container .partners--text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.partners-container .partners--text-container .title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.9rem;
    letter-spacing: 5px;
    color: var(--green);
}

.partners-container .partners--text-container h2 {
    font-family: 'Crimson Text', serif;   
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
}

.partners-container .partners--text-container .texto {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.partners-container .partners--image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.partners--button {
    display: flex;
    width: 170px;
    height: 48px;
    background-color: var(--black);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
    padding: 25px 10px;
}

.beneficios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 80px;
    padding: 40px 0;
}

.beneficios-container .beneficios--tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 335px;
    height: 513px;
}

.beneficios-container .beneficios--tarjeta img {
    width: 335px;
    height: 240px;
    margin-bottom: 30px;
}

.beneficios-container .beneficios--tarjeta h2 {
    font-family: 'Crimson Text', serif;   
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    padding-bottom: 20px;
}

.beneficios-container .beneficios--tarjeta p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 20px;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
}

.team-container .team--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.team-container .team--text .subtitle {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.9rem;
    letter-spacing: 5px;
    color: var(--green);
}

.team-container .team--text h2 {
    font-family: 'Crimson Text', serif;   
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
}

.team-container .team--text .texto {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
    padding-bottom: 50px;
}

.team-container .team-cards {
    width: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--white);
    margin-bottom: 30px;

}

.team-container .team-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.3);
}

.team-container .team-cards .card .card-container {
    display: flex;
    flex-direction: column;
    width: 202px;
    height: 260px;
    gap: 19px;
}

.team-container .team-cards .card .card--image-container {
    width: 175px;
    height: 175px;
    margin: 0 auto;
}

.team-container .team-cards .card .card--text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

.team-container .team-cards .card .card--text-container h3 {
    font-family: 'Crimson Text', serif;   
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
}

.team-container .team-cards .card .card--text-container p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.75);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 150px;
    background-color: #74C69D;
    margin-top: 30px;
}

footer img {
    width: 280px;
}

footer p {
    width: 326px;
    height: 25px;
    text-align: right;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: white;
}